Repository kubermatic/kubelet: changes, and which Prow jobs are due for each by the changed paths.
All: pre-kubermatic-kubelet-test-building-v1.18, pre-kubermatic-kubelet-test-building-v1.19, pre-kubermatic-kubelet-test-building-v1.20, pre-kubermatic-kubelet-test-building-v1.21, pre-kubermatic-kubelet-test-building-v1.22, pre-kubermatic-kubelet-test-building-v1.23, pre-kubermatic-kubelet-test-building-v1.24, pre-kubermatic-kubelet-test-building-v1.25, pre-kubermatic-kubelet-test-building-v1.26, pre-kubermatic-kubelet-test-building-v1.27, pre-kubermatic-kubelet-test-building-v1.28

pre-kubermatic-kubelet-test-building-v1.18:
  decorate: true
  labels:
    preset-docker-mirror: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.21.0
      command:
      - ./hack/ci/build-images.sh
      env:
      - name: DRY_RUN
        value: superdry
      - name: MINOR_VERSION
        value: v1.18
      securityContext:
  ...

pre-kubermatic-kubelet-test-building-v1.19:
  decorate: true
  labels:
    preset-docker-mirror: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.21.0
      command:
      - ./hack/ci/build-images.sh
      env:
      - name: DRY_RUN
        value: superdry
      - name: MINOR_VERSION
        value: v1.19
      securityContext:
  ...

pre-kubermatic-kubelet-test-building-v1.20:
  decorate: true
  labels:
    preset-docker-mirror: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.21.0
      command:
      - ./hack/ci/build-images.sh
      env:
      - name: DRY_RUN
        value: superdry
      - name: MINOR_VERSION
        value: v1.20
      securityContext:
  ...

pre-kubermatic-kubelet-test-building-v1.21:
  decorate: true
  labels:
    preset-docker-mirror: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.21.0
      command:
      - ./hack/ci/build-images.sh
      env:
      - name: DRY_RUN
        value: superdry
      - name: MINOR_VERSION
        value: v1.21
      securityContext:
  ...

pre-kubermatic-kubelet-test-building-v1.22:
  decorate: true
  labels:
    preset-docker-mirror: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.21.0
      command:
      - ./hack/ci/build-images.sh
      env:
      - name: DRY_RUN
        value: superdry
      - name: MINOR_VERSION
        value: v1.22
      securityContext:
  ...

pre-kubermatic-kubelet-test-building-v1.23:
  decorate: true
  labels:
    preset-docker-mirror: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.21.0
      command:
      - ./hack/ci/build-images.sh
      env:
      - name: DRY_RUN
        value: superdry
      - name: MINOR_VERSION
        value: v1.23
      securityContext:
  ...

pre-kubermatic-kubelet-test-building-v1.24:
  decorate: true
  labels:
    preset-docker-mirror: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.21.0
      command:
      - ./hack/ci/build-images.sh
      env:
      - name: DRY_RUN
        value: superdry
      - name: MINOR_VERSION
        value: v1.24
      securityContext:
  ...

pre-kubermatic-kubelet-test-building-v1.25:
  decorate: true
  labels:
    preset-docker-mirror: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.21.0
      command:
      - ./hack/ci/build-images.sh
      env:
      - name: DRY_RUN
        value: superdry
      - name: MINOR_VERSION
        value: v1.25
      securityContext:
  ...

add v1.27.1
  README.md
  v1.27/Dockerfile.amd64
  v1.27/Dockerfile.arm64
  v1.27/version
Due: pre-kubermatic-kubelet-test-building-v1.27

configure buildah to use CI mirror
  hack/ci/build-images.sh
Due: pre-kubermatic-kubelet-test-building-v1.20, pre-kubermatic-kubelet-test-building-v1.21, pre-kubermatic-kubelet-test-building-v1.22, pre-kubermatic-kubelet-test-building-v1.23, pre-kubermatic-kubelet-test-building-v1.24, pre-kubermatic-kubelet-test-building-v1.25, pre-kubermatic-kubelet-test-building-v1.26, pre-kubermatic-kubelet-test-building-v1.27, pre-kubermatic-kubelet-test-building-v1.28

do not run presubmits for EOL releases
  .prow.yaml
Due: none

Configure buildah to use CI mirror (#155)
  .prow.yaml
  hack/ci/build-images.sh
Due: pre-kubermatic-kubelet-test-building-v1.20, pre-kubermatic-kubelet-test-building-v1.21, pre-kubermatic-kubelet-test-building-v1.22, pre-kubermatic-kubelet-test-building-v1.23, pre-kubermatic-kubelet-test-building-v1.24, pre-kubermatic-kubelet-test-building-v1.25, pre-kubermatic-kubelet-test-building-v1.26, pre-kubermatic-kubelet-test-building-v1.27, pre-kubermatic-kubelet-test-building-v1.28

add v1.27.1 (#156)
  README.md
  v1.27/Dockerfile.amd64
  v1.27/Dockerfile.arm64
  v1.27/version
Due: pre-kubermatic-kubelet-test-building-v1.27

bump alpine to 3.17 for the fetcher images
  v1.24/Dockerfile.amd64
  v1.24/Dockerfile.arm64
  v1.25/Dockerfile.amd64
  v1.25/Dockerfile.arm64
  v1.26/Dockerfile.amd64
  v1.26/Dockerfile.arm64
  v1.27/Dockerfile.amd64
  v1.27/Dockerfile.arm64
  v1.28/Dockerfile.amd64
  v1.28/Dockerfile.arm64
Due: pre-kubermatic-kubelet-test-building-v1.24, pre-kubermatic-kubelet-test-building-v1.25, pre-kubermatic-kubelet-test-building-v1.26, pre-kubermatic-kubelet-test-building-v1.27, pre-kubermatic-kubelet-test-building-v1.28

remove references to zenhub
  README.md
  Zenhub.md
Due: none

remove references to zenhub (#158)
  README.md
  Zenhub.md
Due: none

bump alpine to 3.17 for the fetcher images (#157)
  v1.24/Dockerfile.amd64
  v1.24/Dockerfile.arm64
  v1.25/Dockerfile.amd64
  v1.25/Dockerfile.arm64
  v1.26/Dockerfile.amd64
  v1.26/Dockerfile.arm64
  v1.27/Dockerfile.amd64
  v1.27/Dockerfile.arm64
  v1.28/Dockerfile.amd64
  v1.28/Dockerfile.arm64
Due: pre-kubermatic-kubelet-test-building-v1.24, pre-kubermatic-kubelet-test-building-v1.25, pre-kubermatic-kubelet-test-building-v1.26, pre-kubermatic-kubelet-test-building-v1.27, pre-kubermatic-kubelet-test-building-v1.28

update base images for v1.24, v1.25, v1.26, v1.27, v1.28
  v1.24/Dockerfile.amd64
  v1.24/Dockerfile.arm64
  v1.24/baseimage
  v1.25/Dockerfile.amd64
  v1.25/Dockerfile.arm64
  v1.25/baseimage
  v1.26/Dockerfile.amd64
  v1.26/Dockerfile.arm64
  v1.26/baseimage
  v1.27/Dockerfile.amd64
  v1.27/Dockerfile.arm64
  v1.27/baseimage
  v1.28/Dockerfile.amd64
  v1.28/Dockerfile.arm64
  v1.28/baseimage
Due: pre-kubermatic-kubelet-test-building-v1.24, pre-kubermatic-kubelet-test-building-v1.25, pre-kubermatic-kubelet-test-building-v1.26, pre-kubermatic-kubelet-test-building-v1.27, pre-kubermatic-kubelet-test-building-v1.28

update base images for v1.24, v1.25, v1.26, v1.27, v1.28 (#159)
  v1.24/Dockerfile.amd64
  v1.24/Dockerfile.arm64
  v1.24/baseimage
  v1.25/Dockerfile.amd64
  v1.25/Dockerfile.arm64
  v1.25/baseimage
  v1.26/Dockerfile.amd64
  v1.26/Dockerfile.arm64
  v1.26/baseimage
  v1.27/Dockerfile.amd64
  v1.27/Dockerfile.arm64
  v1.27/baseimage
  v1.28/Dockerfile.amd64
  v1.28/Dockerfile.arm64
  v1.28/baseimage
Due: pre-kubermatic-kubelet-test-building-v1.24, pre-kubermatic-kubelet-test-building-v1.25, pre-kubermatic-kubelet-test-building-v1.26, pre-kubermatic-kubelet-test-building-v1.27, pre-kubermatic-kubelet-test-building-v1.28

add v1.26.5, v1.27.2
  README.md
  v1.26/Dockerfile.amd64
  v1.26/Dockerfile.arm64
  v1.26/version
  v1.27/Dockerfile.amd64
  v1.27/Dockerfile.arm64
  v1.27/version
Due: pre-kubermatic-kubelet-test-building-v1.26, pre-kubermatic-kubelet-test-building-v1.27

add v1.26.5, v1.27.2 (#160)
  README.md
  v1.26/Dockerfile.amd64
  v1.26/Dockerfile.arm64
  v1.26/version
  v1.27/Dockerfile.amd64
  v1.27/Dockerfile.arm64
  v1.27/version
Due: pre-kubermatic-kubelet-test-building-v1.26, pre-kubermatic-kubelet-test-building-v1.27

add v1.24.14, v1.25.10
  README.md
  v1.24/Dockerfile.amd64
  v1.24/Dockerfile.arm64
  v1.24/version
  v1.25/Dockerfile.amd64
  v1.25/Dockerfile.arm64
  v1.25/version
Due: pre-kubermatic-kubelet-test-building-v1.24, pre-kubermatic-kubelet-test-building-v1.25

add v1.24.14, v1.25.10 (#161)
  README.md
  v1.24/Dockerfile.amd64
  v1.24/Dockerfile.arm64
  v1.24/version
  v1.25/Dockerfile.amd64
  v1.25/Dockerfile.arm64
  v1.25/version
Due: pre-kubermatic-kubelet-test-building-v1.24, pre-kubermatic-kubelet-test-building-v1.25

add v1.28.0-alpha.1
  README.md
  v1.28/Dockerfile.amd64
  v1.28/Dockerfile.arm64
  v1.28/version
Due: pre-kubermatic-kubelet-test-building-v1.28

add v1.28.0-alpha.1 (#162)
  README.md
  v1.28/Dockerfile.amd64
  v1.28/Dockerfile.arm64
  v1.28/version
Due: pre-kubermatic-kubelet-test-building-v1.28

update base images for v1.24, v1.25, v1.26, v1.27, v1.28 (#163)
  v1.24/Dockerfile.amd64
  v1.24/Dockerfile.arm64
  v1.24/baseimage
  v1.25/Dockerfile.amd64
  v1.25/Dockerfile.arm64
  v1.25/baseimage
  v1.26/Dockerfile.amd64
  v1.26/Dockerfile.arm64
  v1.26/baseimage
  v1.27/Dockerfile.amd64
  v1.27/Dockerfile.arm64
  v1.27/baseimage
  v1.28/Dockerfile.amd64
  v1.28/Dockerfile.arm64
  v1.28/baseimage
Due: pre-kubermatic-kubelet-test-building-v1.24, pre-kubermatic-kubelet-test-building-v1.25, pre-kubermatic-kubelet-test-building-v1.26, pre-kubermatic-kubelet-test-building-v1.27, pre-kubermatic-kubelet-test-building-v1.28

add v1.28.0-alpha.2
  README.md
  v1.28/Dockerfile.amd64
  v1.28/Dockerfile.arm64
  v1.28/version
Due: pre-kubermatic-kubelet-test-building-v1.28

add v1.28.0-alpha.2 (#164)
  README.md
  v1.28/Dockerfile.amd64
  v1.28/Dockerfile.arm64
  v1.28/version
Due: pre-kubermatic-kubelet-test-building-v1.28

add v1.24.15
  README.md
  v1.24/Dockerfile.amd64
  v1.24/Dockerfile.arm64
  v1.24/version
Due: pre-kubermatic-kubelet-test-building-v1.24

add v1.24.15 (#165)
  README.md
  v1.24/Dockerfile.amd64
  v1.24/Dockerfile.arm64
  v1.24/version
Due: pre-kubermatic-kubelet-test-building-v1.24

add v1.25.11
  README.md
  v1.25/Dockerfile.amd64
  v1.25/Dockerfile.arm64
  v1.25/version
Due: pre-kubermatic-kubelet-test-building-v1.25

add v1.25.11 (#166)
  README.md
  v1.25/Dockerfile.amd64
  v1.25/Dockerfile.arm64
  v1.25/version
Due: pre-kubermatic-kubelet-test-building-v1.25

add v1.26.6, v1.27.3
  README.md
  v1.26/Dockerfile.amd64
  v1.26/Dockerfile.arm64
  v1.26/version
  v1.27/Dockerfile.amd64
  v1.27/Dockerfile.arm64
  v1.27/version
Due: pre-kubermatic-kubelet-test-building-v1.26, pre-kubermatic-kubelet-test-building-v1.27

add v1.26.6, v1.27.3 (#167)
  README.md
  v1.26/Dockerfile.amd64
  v1.26/Dockerfile.arm64
  v1.26/version
  v1.27/Dockerfile.amd64
  v1.27/Dockerfile.arm64
  v1.27/version
Due: pre-kubermatic-kubelet-test-building-v1.26, pre-kubermatic-kubelet-test-building-v1.27

add v1.28.0-alpha.3
  README.md
  v1.28/Dockerfile.amd64
  v1.28/Dockerfile.arm64
  v1.28/version
Due: pre-kubermatic-kubelet-test-building-v1.28

add v1.28.0-alpha.3 (#168)
  README.md
  v1.28/Dockerfile.amd64
  v1.28/Dockerfile.arm64
  v1.28/version
Due: pre-kubermatic-kubelet-test-building-v1.28

Bump base image to bookworm-v1.0.0
  v1.24/baseimage
  v1.25/baseimage
  v1.26/baseimage
  v1.27/baseimage
  v1.28/baseimage
Due: pre-kubermatic-kubelet-test-building-v1.24, pre-kubermatic-kubelet-test-building-v1.25, pre-kubermatic-kubelet-test-building-v1.26, pre-kubermatic-kubelet-test-building-v1.27, pre-kubermatic-kubelet-test-building-v1.28

Bump base image to bookworm-v1.0.0 (#170)
  v1.24/baseimage
  v1.25/baseimage
  v1.26/baseimage
  v1.27/baseimage
  v1.28/baseimage
Due: pre-kubermatic-kubelet-test-building-v1.24, pre-kubermatic-kubelet-test-building-v1.25, pre-kubermatic-kubelet-test-building-v1.26, pre-kubermatic-kubelet-test-building-v1.27, pre-kubermatic-kubelet-test-building-v1.28

switch from Buildah to buildx
  hack/ci/build-images.sh
Due: pre-kubermatic-kubelet-test-building-v1.20, pre-kubermatic-kubelet-test-building-v1.21, pre-kubermatic-kubelet-test-building-v1.22, pre-kubermatic-kubelet-test-building-v1.23, pre-kubermatic-kubelet-test-building-v1.24, pre-kubermatic-kubelet-test-building-v1.25, pre-kubermatic-kubelet-test-building-v1.26, pre-kubermatic-kubelet-test-building-v1.27, pre-kubermatic-kubelet-test-building-v1.28

change image
  .prow.yaml
Due: none

Switch from Buildah to buildx (#171)
  .prow.yaml
  hack/ci/build-images.sh
Due: pre-kubermatic-kubelet-test-building-v1.20, pre-kubermatic-kubelet-test-building-v1.21, pre-kubermatic-kubelet-test-building-v1.22, pre-kubermatic-kubelet-test-building-v1.23, pre-kubermatic-kubelet-test-building-v1.24, pre-kubermatic-kubelet-test-building-v1.25, pre-kubermatic-kubelet-test-building-v1.26, pre-kubermatic-kubelet-test-building-v1.27, pre-kubermatic-kubelet-test-building-v1.28

add v1.28.0-alpha.4
  README.md
  v1.28/Dockerfile.amd64
  v1.28/Dockerfile.arm64
  v1.28/version
Due: pre-kubermatic-kubelet-test-building-v1.28

add v1.28.0-alpha.4 (#172)
  README.md
  v1.28/Dockerfile.amd64
  v1.28/Dockerfile.arm64
  v1.28/version
Due: pre-kubermatic-kubelet-test-building-v1.28

Path conditions:
  pre-kubermatic-kubelet-test-building-v1.18: any of: ^(v1.18)/
  pre-kubermatic-kubelet-test-building-v1.19: any of: ^(v1.19)/
  pre-kubermatic-kubelet-test-building-v1.20: any of: ^(hack|v1.20)/
  pre-kubermatic-kubelet-test-building-v1.21: any of: ^(hack|v1.21)/
  pre-kubermatic-kubelet-test-building-v1.22: any of: ^(hack|v1.22)/
  pre-kubermatic-kubelet-test-building-v1.23: any of: ^(hack|v1.23)/
  pre-kubermatic-kubelet-test-building-v1.24: any of: ^(hack|v1.24)/
  pre-kubermatic-kubelet-test-building-v1.25: any of: ^(hack|v1.25)/
  pre-kubermatic-kubelet-test-building-v1.26: any of: ^(hack|v1.26)/
  pre-kubermatic-kubelet-test-building-v1.27: any of: ^(hack|v1.27)/
  pre-kubermatic-kubelet-test-building-v1.28: any of: ^(hack|v1.28)/
